@import url(/components/assets/root.css);
@import url(/components/assets/menu.css);
html{
    scroll-behavior: smooth;
}
body{
    background: var(--50);
}


/*
Seccion de inicio de la pagina
*/
.container--inicio{
    padding: 30px 0;
    background: var(--900);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.card--inicio--texto{
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 90%;
    color: var(--100);
}
.card--inicio--texto .card--title{
    font-size: 32px;
    font-weight: bold;
}
.card--inicio--texto .card--btn{
    padding: 10px 40px;
    background: var(--50);
    text-decoration: none;
    color: var(--900);
    border-radius: 10px;
    transition: .2s ease all;
}
.card--inicio--texto .card--btn:hover{
    background: var(--100);
}
.card--inicio--texto .card--btn:focus{
    background: var(--200);
}
.card--inicio--imagen{
    grid-column: 4 / 5;
}
.card--imagen--uno{
    width: 300px;
    height: 300px;
}
.card--img--uno{
    width: 300px;
    height: 300px;
}
/* 
Hasta aqui llega la seccion de inicio
*/


/* 
Aqui empieza la seccion del problema o nececidad de los usuarios
*/
.container--problema{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    color: var(--900);
}
.card--problema--imagen{
    grid-column: 2 / 3;
}
.card--imagen--dos{
    width: 400px;
    height: 400px;
}
.card--img--dos{
    width: 400px;
    height: 400px;
}
.card--problema--texto{
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
}
.card--problema--texto .card--title{
    font-size: 32px;
    font-weight: bold;
}
/* 
Hasta aqui acaba la seccion de los problmeas o neceidades de los usuarios
*/


/* 
Estilos para las caracteristicas del aplicativo
*/
.container-caract{
    display: grid;
    background: var(--900);
    grid-template-rows: 1fr;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
    color: var(--100);
}
.card--caract--textoUno{
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.card--caract--textoUno .card--title{
    font-size: 22px;
    font-weight: bold;
}
.card--caract--textoUno .card--text{
    font-size: 16px;
}
.card--image--tres{
    width: 100%;
    height: 250px;
}
.card--img--tres{
    width: 100%;
    height: 250px;
}
.card--caract--textoDos{
    grid-column: 6 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
}
.card--decoracion{
    width: 100px;
    height: auto;
}
.card--imgDecoracion{
    width: 100px;
}
.card--imagen--cuatro{
    width: 200px;
    height: 200px;
}
.card--img--cuatro{
    width: 200px;
    height: 200px;
}
.card--caract--textoDos .card--title{
    font-size: 22px;
    font-weight: bold;
}
.card--caract--textoTres{
    grid-column: 9 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.card--caract--textoTres .card--title{
    font-size: 22px;
    font-weight: bold;
}
.card--imagen--cinco{
    width: 220px;
    height: 220px;
}
.card--img--cinco{
    width: 100%;
    height: 100%;
}
/* 
Hasta aqui van los estilos de las caracteristicas del aplicativo
*/


/* 
Estilos de la seccion de las descargas del aplicativo
*/
.container--descargas{
    display: grid;
    grid-template-columns: 1fr 110px repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 20px;
    color: var(--900);
}
.card--escalera{
    grid-column: 2 / 3;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
}
.card--imagen--escaleras{
    width: 110px;
    height: 80px;
}
.card--descargas--imagen{
    grid-column: 3 / 4;
}
.card--imagen--seis{
    width: 250px;
    height: 250px;
}
.card--img--seis{
    width: 100%;
    height: 100%;
}
.card--descargas--textoUno{
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card--content--uno{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card--content--uno .card--text{
    font-size: 18px;
}       
.card--descargas--textoUno .card--title{
    font-size: 22px;
    font-weight: bold;
}
.card--descargas--textoDos{
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* 
Hasta aqui van los estilos de la seccion de descargas
*/


/* 
Estilos de la seccion de ventajas del aplicativo
*/
.container--ventajas{
    padding: 60px 0;
    background: var(--900);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card--ventajas--uno{
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    height: 100%;
}
.card--img--siete{
    width: 200px;
    height: 230px;
}
.card--ventajas--dos{
    grid-column: 4 / 5;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--100);
    text-align: center;
}
.card--imagen--ocho{
    width: 250px;
    height: 300px;
}
.card--content--text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card--content--text .card--title{
    font-size: 20px;
    font-weight: bold;
}
.card--img--ocho{
    width: 100%;
    height: 100%;
}
.card--ventajas--tres{
    grid-column: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card--imagen--nueve{
    width: 200px;
    height: 230px;
}
.card--img--nueve{
    width: 100%;
    height: 100%;
}
/* 
Hasta aqui van los estilos de la seccion de ventajas del aplicativo
*/


/* 
Estilos de la seccion de los planes del aplicativo
*/
.container--planes{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card--texto{
    background: var(--900);
    grid-column: 3 / 4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 0 0px 15px 0.1px var(--700);
    color: var(--100);
    text-align: center;
}
.card--texto .card--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card--texto .card--content .card--title{
    font-size: 22px;
}
.card--comprar{
    color: var(--900);
    text-decoration: none;
    cursor: pointer;
    width: 20rem;
    background: var(--50);
    padding: 15px 0;
    border-radius: 10px;
    transition: all .2s ease;
}
.card--comprar:hover{
    background: var(--100) !important;
}
.card--comprar:focus{
    background: var(--200) !important;
}
/* 
Hasta aqui va la seccion de los planes del aplicativo
*/


/* 
Empiezan los estilos de la seccion para descargar el app
*/
.container--descargar{
    width: 100%;
    padding: 60px 0;
    background-color: var(--900);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--100);
    flex-direction: column;
}
.card--descargas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.card--descargas .card--title{
    font-size: 1.9em;
}
.card--descargas .card--btn{
    padding: 15px 50px;
    background: var(--50);
    border-radius: 10px;
    color: var(--900);
    text-decoration: none;
    font-size: 1.15em;
    transition: all .2s ease;
}
.card--descargas .card--btn:hover{
    background-color: var(--100);
}
.card--descargas .card--btn:focus{
    background: var(--200);
}
/* 
Hasta aqui va la seccion de descargar la app
*/


/* 
Aqui empiezan los estilos del footer de la pagina
*/
.pie{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px 0;
}
.card--pie--uno{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.card--list{
    list-style: none;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    color: var(--900);
}
.card--pie--dos{
    grid-column: 6 / 7;
}
.card--imagen--diez{
    width: 100px;
    height: 120px;
    object-fit: cover;
}
.card--img--diez{
    width: 100px;
    height: 120px;
}
.card--pie--tres{
    grid-column: 9 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card--list--enlaces{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.11em;
}
.card--enlaces{
    color: var(--900);
    text-decoration: none;
}
.card--pie--final{
    grid-row: 2;
    grid-column: span 11;
    display: flex;
    justify-content: center;
}
.card--pie--final .card--title{
    font-size: 22px;
    color: var(--900);
    opacity: 0.5;
}